/* * {
  border: 1px solid red;
} */

/* Header */
nav {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1;
}

nav > div {
  display: flex;
  flex: 1;
  height: 43px;
  justify-content: space-around;
  margin-top: 10px;
}

button {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.nav-left {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.nav-left a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: black;
}

.site-title img {
  height: 43px;
}

/* Main Content  */
.body {
  font-size: 1.25rem;
  font-family: -apple-system;
}

/* title  */

.main-content-title h1 {
  font-size: 2.5em;
  font-style: italic;
  text-align: left;
}

/* grid */

.container {
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

/* main content articles */
.main-content-title,
.publishing-info,
article {
  grid-column-start: 2;
  grid-column-end: span 3;
  margin: auto 20%;
  font-size: 1.25em;
}

.publishing-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}

.publishing-info > h5 {
  width: 100%;
}

.publishing-info > h6 {
  margin: 0;
}

.publishing-info > .social {
  justify-content: baseline;
}

article {
  margin-top: 15px;
}

.summary {
  grid-column-start: 2;
  grid-column-end: span 3;
}

.summary img {
  width: 220px;
}

.summary-flex {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.summary-flex div {
  width: 22%;
}

.summary h5 {
  font-size: 1.25em;
}

/* main large image */
.main-image {
  grid-column-start: 2;
  grid-column-end: span 3;
}

.main-image img {
  width: 100%;
}

.image-caption,
.article-footer {
  font-size: 0.9375rem;
}

.article-end {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.article-end button {
  width: 50%;
}

/* secondary content  */

.secondary-content img {
  width: 40%;
  float: left;
  margin: 0 5%;
  margin-left: 0;
}

.secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.secondary-content div {
  display: flex;
  align-items: center;
}
